<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
</head>
<body>
    <h3>修改用户信息</h3>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            用户名：<input type="text" name="username" value="{{ person_obj.name }}">
        </p>
        <p>
            年龄：<input type="text" name="age" value="{{ person_obj.age }}">
        </p>
        <p>
            身高：<input type="text" name="height" value="{{ person_obj.height }}">
        </p>
        <p>
            体重：<input type="text" name="weight" value="{{ person_obj.weight }}">
        </p>

        <p>
            生日：<input type="text" name="birthday" value="{{ person_obj.birthday | date:'Y-d-m'}}">
        </p>

{#     id字段不显示，保存在隐藏域#}
        <p>
            <input type="hidden" name="id" value="{{ person_obj.id }}">
        </p>
        <p>
            <input type="submit" value="修改">
        </p>
    </form>
</body>
</html>